.ipynb_checkpoints
*.bin
data/ucf-101/videos
data/kinetics/objectscores
data/kinetics/scenescores
fasttext-imagenet12988places365pairs-*
a2ospairs_ft_imagenet12988places365pairs_*
o2o_ft_imagenet12988_*
sbert-imagenet12988places365pairs-*
a2ospairs_sbert_imagenet12988places365pairs_*
o2o_sbert_imagenet12988_*
