[actions]

# Features.
objectscores = data/ucf-101/objectscores/
scenescores = data/ucf-101/scenescores-resnet50/

# Videos.
videofile = data/ucf-101/annotations/all_videos.txt

# Filename for object scores and scene scores of a video.
objscefilename = /avg-features.npy

# Fasttext data.
# Languages, separated by a comma and a space
fasttext_languages = English, Dutch, Portuguese, Afrikaans, French

a2oft_English = data/ucf-101/fasttext/a2o_ft_imagenet12988_English.npy
a2oft_Dutch = data/ucf-101/fasttext/a2o_ft_imagenet12988_Dutch.npy
a2oft_Spanish = data/ucf-101/fasttext/a2o_ft_imagenet12988_Spanish.npy
a2oft_French = data/ucf-101/fasttext/a2o_ft_imagenet12988_French.npy
a2oft_Portuguese = data/ucf-101/fasttext/a2o_ft_imagenet12988_Portuguese.npy
a2oft_Italian = data/ucf-101/fasttext/a2o_ft_imagenet12988_Italian.npy
a2oft_German = data/ucf-101/fasttext/a2o_ft_imagenet12988_German.npy
a2oft_Czech = data/ucf-101/fasttext/a2o_ft_imagenet12988_Czech.npy
a2oft_Afrikaans = data/ucf-101/fasttext/a2o_ft_imagenet12988_Afrikaans.npy

a2sft_English = data/ucf-101/fasttext/a2s_ft_places365_English.npy
a2sft_Dutch = data/ucf-101/fasttext/a2s_ft_places365_Dutch.npy
a2sft_Spanish = data/ucf-101/fasttext/a2s_ft_places365_Spanish.npy
a2sft_French = data/ucf-101/fasttext/a2s_ft_places365_French.npy
a2sft_Portuguese = data/ucf-101/fasttext/a2s_ft_places365_Portuguese.npy
a2sft_Italian = data/ucf-101/fasttext/a2s_ft_places365_Italian.npy
a2sft_German = data/ucf-101/fasttext/a2s_ft_places365_German.npy
a2sft_Czech = data/ucf-101/fasttext/a2s_ft_places365_Czech.npy
a2sft_Afrikaans = data/ucf-101/fasttext/a2s_ft_places365_Afrikaans.npy
