[actions]

# Features.
objectscores = data/ucf-101/objectscores/
scenescores = data/ucf-101/scenescores-resnet50/

# Videos.
videofile = data/ucf-101/annotations/all_videos.txt

# Filename for object scores and scene scores of a video.
objscefilename = /avg-features.npy

# Fasttext data.
# Languages, separated by a comma and a space
fasttext_languages = English, Dutch
# hacky way of avoiding loading all the a2ospairs_ft files, too large to handle
# fasttext_languages = English, Dutch, Portuguese, Afrikaans, French

a2oft_English = data/ucf-101/fasttext/a2o_ft_imagenet12988_English.npy
a2oft_Dutch = data/ucf-101/fasttext/a2o_ft_imagenet12988_Dutch.npy
a2oft_Spanish = data/ucf-101/fasttext/a2o_ft_imagenet12988_Spanish.npy
a2oft_French = data/ucf-101/fasttext/a2o_ft_imagenet12988_French.npy
a2oft_Portuguese = data/ucf-101/fasttext/a2o_ft_imagenet12988_Portuguese.npy
a2oft_Italian = data/ucf-101/fasttext/a2o_ft_imagenet12988_Italian.npy
a2oft_German = data/ucf-101/fasttext/a2o_ft_imagenet12988_German.npy
a2oft_Czech = data/ucf-101/fasttext/a2o_ft_imagenet12988_Czech.npy
a2oft_Afrikaans = data/ucf-101/fasttext/a2o_ft_imagenet12988_Afrikaans.npy

a2sft_English = data/ucf-101/fasttext/a2s_ft_places365_English.npy
a2sft_Dutch = data/ucf-101/fasttext/a2s_ft_places365_Dutch.npy
a2sft_Spanish = data/ucf-101/fasttext/a2s_ft_places365_Spanish.npy
a2sft_French = data/ucf-101/fasttext/a2s_ft_places365_French.npy
a2sft_Portuguese = data/ucf-101/fasttext/a2s_ft_places365_Portuguese.npy
a2sft_Italian = data/ucf-101/fasttext/a2s_ft_places365_Italian.npy
a2sft_German = data/ucf-101/fasttext/a2s_ft_places365_German.npy
a2sft_Czech = data/ucf-101/fasttext/a2s_ft_places365_Czech.npy
a2sft_Afrikaans = data/ucf-101/fasttext/a2s_ft_places365_Afrikaans.npy

a2ospairsft_English = data/ucf-101/fasttext/a2ospairs_ft_imagenet12988places365pairs_English.npy
a2ospairsft_Dutch = data/ucf-101/fasttext/a2ospairs_ft_imagenet12988places365pairs_Dutch.npy
a2ospairsft_Spanish = data/ucf-101/fasttext/a2ospairs_ft_imagenet12988places365pairs_Spanish.npy
a2ospairsft_French = data/ucf-101/fasttext/a2ospairs_ft_imagenet12988places365pairs_French.npy
a2ospairsft_Portuguese = data/ucf-101/fasttext/a2ospairs_ft_imagenet12988places365pairs_Portuguese.npy
a2ospairsft_Italian = data/ucf-101/fasttext/a2ospairs_ft_imagenet12988places365pairs_Italian.npy
a2ospairsft_German = data/ucf-101/fasttext/a2ospairs_ft_imagenet12988places365pairs_German.npy
a2ospairsft_Czech = data/ucf-101/fasttext/a2ospairs_ft_imagenet12988places365pairs_Czech.npy
a2ospairsft_Afrikaans = data/ucf-101/fasttext/a2ospairs_ft_imagenet12988places365pairs_Afrikaans.npy

o2oft_English = data/imagenet/fasttext/o2o_ft_imagenet12988_English.npy
o2oft_Dutch = data/imagenet/fasttext/o2o_ft_imagenet12988_Dutch.npy
o2oft_Spanish = data/imagenet/fasttext/o2o_ft_imagenet12988_Spanish.npy
o2oft_French = data/imagenet/fasttext/o2o_ft_imagenet12988_French.npy
o2oft_Portuguese = data/imagenet/fasttext/o2o_ft_imagenet12988_Portuguese.npy
o2oft_Italian = data/imagenet/fasttext/o2o_ft_imagenet12988_Italian.npy
o2oft_German = data/imagenet/fasttext/o2o_ft_imagenet12988_German.npy
o2oft_Czech = data/imagenet/fasttext/o2o_ft_imagenet12988_Czech.npy
o2oft_Afrikaans = data/imagenet/fasttext/o2o_ft_imagenet12988_Afrikaans.npy

s2sft_English = data/places-365/fasttext/s2s_ft_places365_English.npy
s2sft_Dutch = data/places-365/fasttext/s2s_ft_places365_Dutch.npy
s2sft_Spanish = data/places-365/fasttext/s2s_ft_places365_Spanish.npy
s2sft_French = data/places-365/fasttext/s2s_ft_places365_French.npy
s2sft_Portuguese = data/places-365/fasttext/s2s_ft_places365_Portuguese.npy
s2sft_Italian = data/places-365/fasttext/s2s_ft_places365_Italian.npy
s2sft_German = data/places-365/fasttext/s2s_ft_places365_German.npy
s2sft_Czech = data/places-365/fasttext/s2s_ft_places365_Czech.npy
s2sft_Afrikaans = data/places-365/fasttext/s2s_ft_places365_Afrikaans.npy

o2sft_English = data/imagenet/fasttext/o2s_ft_places365_English.npy
o2sft_Dutch = data/imagenet/fasttext/o2s_ft_places365_Dutch.npy
o2sft_Spanish = data/imagenet/fasttext/o2s_ft_places365_Spanish.npy
o2sft_French = data/imagenet/fasttext/o2s_ft_places365_French.npy
o2sft_Portuguese = data/imagenet/fasttext/o2s_ft_places365_Portuguese.npy
o2sft_Italian = data/imagenet/fasttext/o2s_ft_places365_Italian.npy
o2sft_German = data/imagenet/fasttext/o2s_ft_places365_German.npy
o2sft_Czech = data/imagenet/fasttext/o2s_ft_places365_Czech.npy
o2sft_Afrikaans = data/imagenet/fasttext/o2s_ft_places365_Afrikaans.npy

ospairsft_English = data/imagenet_places/fasttext/fasttext-imagenet12988places365pairs-English.npy
ospairsft_Dutch = data/imagenet_places/fasttext/fasttext-imagenet12988places365pairs-Dutch.npy
ospairsft_Spanish = data/imagenet_places/fasttext/fasttext-imagenet12988places365pairs-Spanish.npy
ospairsft_French = data/imagenet_places/fasttext/fasttext-imagenet12988places365pairs-French.npy
ospairsft_Portuguese = data/imagenet_places/fasttext/fasttext-imagenet12988places365pairs-Portuguese.npy
ospairsft_Italian = data/imagenet_places/fasttext/fasttext-imagenet12988places365pairs-Italian.npy
ospairsft_German = data/imagenet_places/fasttext/fasttext-imagenet12988places365pairs-German.npy
ospairsft_Czech = data/imagenet_places/fasttext/fasttext-imagenet12988places365pairs-Czech.npy
ospairsft_Afrikaans = data/imagenet_places/fasttext/fasttext-imagenet12988places365pairs-Afrikaans.npy

ospairs2ospairs = data/imagenet_places/fasttext/ospairs2ospairs_101/
ospairs2ospairs_filename = ospairs2ospairs_imagenet12988places365pairs.npz
