[actions]

# Features.
objectscores = data/ucf-101/resnet50_scenescores/

# Videos.
videofile = data/ucf-101/annotations/all_videos.txt

# Filename for object scores of a video.
objectfilename = /avg-features.npy

# Fasttext data.
# Languages, separated by a comma and a space
fasttext_languages = English, Dutch, Portuguese, Afrikaans, French

a2oft_English = data/ucf-101/fasttext/a2s_ft_places_English.npy
a2oft_Dutch = data/ucf-101/fasttext/a2s_ft_places_Dutch.npy
a2oft_Spanish = data/ucf-101/fasttext/a2s_ft_places_Spanish.npy
a2oft_French = data/ucf-101/fasttext/a2s_ft_places_French.npy
a2oft_Portuguese = data/ucf-101/fasttext/a2s_ft_places_Portuguese.npy
a2oft_Italian = data/ucf-101/fasttext/a2s_ft_places_Italian.npy
a2oft_German = data/ucf-101/fasttext/a2s_ft_places_German.npy
a2oft_Czech = data/ucf-101/fasttext/a2s_ft_places_Czech.npy
a2oft_Afrikaans = data/ucf-101/fasttext/a2s_ft_places_Afrikaans.npy
